.card-container--organizer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container--org {
  margin-top: 90px;
}

.org-main-heading{
  font-size: 3.5rem;
  margin-bottom: 100px;
}
