@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.homepage-container {
  position: relative;
  overflow: hidden;
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  overflow: hidden;
  z-index: -1;
}

.bg-video--content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-section-one {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.crown-container {
  display: flex;
  align-items: center;
}

.crown-line {
  width: 300px;
  height: 6px;
  background-color: #d3d6db;
  margin: 10px;
  border-radius: 100px;
}

.line-left {
  transform: translateX(-600px);
  animation: left-line 0.6s ease forwards 3s;
}

.line-right {
  transform: translateX(600px);
  animation: right-line 0.6s ease forwards 3.3s;
}

.line-bottom {
  margin-top: 35px;
  transform: translateY(480px);
  animation: bottom-line 0.6s ease forwards 3.9s;
}

.crown-img {
  transform: translateY(-450px);
  animation: crown 0.6s ease forwards 3.6s;
}
@keyframes bottom-line {
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes crown {
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes left-line {
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes right-line {
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* ------------------section 2-------------------------------- */

.home-section-two {
  color: #d3d6db;
  padding: 100px 50px;
}

.border-container {
  padding: 60px 30px;
  border-radius: 5px;
  background-image: url("https://www.transparenttextures.com/patterns/dirty-old-black-shirt.png");
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100%;
}

.section-heading {
  font-family: "Bree Serif", serif;
  font-size: 4rem;
  color: #00ffdd;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section-para {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 40px;
  color: #f5eedc;
}

.hr {
  border: none;
  width: 70px;
  border-top: 15px dotted rgb(60, 59, 59);
  margin: 100px auto;
}

/* ----------------------------------section three------------------------------ */

.organizer-hr {
  border-color: rgb(60, 59, 59);
}

/* ----------------------------------------coming soon-------------------------------- */

.coming-soon-heading {
  text-align: center;
  color: rgba(0, 255, 221, 1);
  font-family: arial;
  font-size: 90px;
  line-height: 90x;
  letter-spacing: 15px;
  text-shadow: 0 1px 0 #efefef, 0 2px 0 #efefef, 0 3px 0 #efefef,
    0 4px 0 #efefef, 0 30px 5px rgba(0, 0, 0, 0.1);

  animation: float 3s linear infinite;
  animation-direction: alternate;
}

.home-button--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.coming-soon--border {
  padding: 50px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.cs-video--content {
  width: 800px;
  object-fit: cover;
}

.margin-utility {
  margin-bottom: 40px;
}

@keyframes float {
  from {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-5deg);
  }
}

@media (max-width: 900px) {
  .crown-line {
    width: 230px;
  }

  .section-heading {
    font-size: 3rem;
  }

  .coming-soon--border {
    padding: 50px;
    width: 90%;
  }

  .cs-video--content {
    width: 500px;
  }
}

@media (max-width: 650px) {
  .crown-line {
    width: 140px;
    height: 4px;
  }
  .crown-img {
    width: 50px;
  }

  .coming-soon-heading {
    font-size: 70px;
  }

  .home-section-two {
    padding: 20px 30px;
  }

  .coming-soon--border {
    padding: 50px;
    width: 100%;
  }

  .cs-video--content {
    width: 300px;
  }
  .section-heading {
    font-size: 3rem;
  }
}

@media (max-width: 450px) {
  .crown-line {
    width: 120px;
    height: 4px;
  }
  .crown-img {
    width: 50px;
  }

  .line-bottom {
    margin-top: 25px;
  }

  .coming-soon-heading {
    font-size: 40px;
  }

  .home-section-two {
    padding: 30px 30px;
  }

  .section-heading {
    font-size: 1.8rem;
  }

  .section-para {
    font-size: 1rem;
    text-align: justify;
  }

  .border-container {
    padding: 40px 30px;
  }

  .coming-soon--border {
    padding: 30px;
    width: 100%;
  }

  .cs-video--content {
    width: 280px;
  }
}
