.main--conainer {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  /* justify-content: ; */
  align-items: center;
}

.utility-div {
  height: 58.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coming-soon-heading {
  margin-top: 50px !important;
}

@media (max-width: 450px) {
  .utility-div {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
