@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  background-image: url("https://www.transparenttextures.com/patterns/dirty-old-black-shirt.png");
  color: white;
}
